$main-font:"fbspoilbregolar";
$bold-font:"fbspoilbold";
$color-white:#fff;
$header-background-color:#00c6d8;
$font-bold:bold;
$header-font-color:#33455d;
$footer-bootom-color:#2a394d;
$footer-text-color:#f5f7f9;
$main-bacground-color:#f9fbfd;


