<html>

<head>
    <title>Psd To Html</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
</head>

<body>
<header>
    <div class="page-container">
        <nav>
            <div class="nav-bar">

                <div class="nav-search">
                    <div class="nav-logo"><span class="logo-content">Compie</span></div>
                    <select class="nav-select">
                        <option value="">ביטוח דירה</option>
                    </select>
                    <!--<img src="src/images/nav/12.png" alt="home-insurance">-->
                    <img class="sep" src="src/images/nav/sep.png" alt="separet">
                    <img src="src/images/nav/search.png" class="search-ins" alt="search-ins">
                </div>

                <div class="contact-link">
                    <img class="message-ico" src="src/images/nav/message.png" alt="message">
                    <img src="src/images/nav/sep.png" alt="separet">
                    <img class="hum-ico" src="src/images/nav/Rounded.png" alt="Rounded">
                </div>

            </div>
            <div class="nav-bar-mobile">
                <div class="hamburger">
                    <img src="src/images/nav/hamb.png" alt="hamburger">
                </div>
                <div class="nav-logo "><span class="logo-content">.trusty</span></div>
            </div>
        </nav>
        <div class="main-container main-headline-container">
            <h1 class="head-line">ביטוח
                <span>
                <img src="src/images/nav/Car.png" alt="Car.png"/>
            </span>רכב
            </h1>
            <p class="header-p"> על מנת שתוכל לנסוע על הכביש בלי דאגות תן לנו להתאים עבורך את הפוליסה הטובה ביותר עם
                כיסויים
                מקיפים במחירים
                מנצחים ממגוון סוכני הביטוח ושתהיה לכם נסיעה טובה

            </p>
            <div class="headline-btn">
                <span>אשף המחיר</span>
            </div>

        </div>
    </div>
</header>
<main>
    <div class="main-cont page-container">
        <div class="main-nav">
            <div class="main-nav1 flex">
                <img class="pic1-1" src="src/images/main/headline/1/Rounded.png" alt="Rounded.png">
                <img class="pic1-2" src="src/images/main/headline/1/1.png" alt="1.png">
                <p>ממלאים פרטים להצעת ביטוח</p>
            </div>
            <div class="circle-left-arrow">
                <img class="circle" src="src/images/main/headline/1/Ellipse.png" alt="Ellipse .png">
                <img class="arrow" src="src/images/main/headline/1/Shape.png" alt="Shape.png">

            </div>
            <div class="main-nav2 flex">
                <img class="pic2-1" src="src/images/main/headline/2/Shape5.png" alt="Shape 5.png">
                <img class="pic2-2" src="src/images/main/headline/2/2.png" alt="2.png">
                <p>מקבלים מגוון הצעות משתלמות מסוכני ביטוח</p>
            </div>
            <div class="circle-left-arrow">
                <img class="circle" src="src/images/main/headline/1/Ellipse.png" alt="Ellipse .png">
                <img class="arrow" src="src/images/main/headline/1/Shape.png" alt="Shape.png">

            </div>
            <div class="flex main-nav3">
                <img class="pic3-1" src="src/images/main/headline/3/Layer782.png" alt="Layer 782.png">
                <img class="pic3-2" src="src/images/main/headline/3/3.png" alt="3.png">
                <p>בוחרים סוכן ביטוח הטוב ביותר </p>
            </div>
            <div class="circle-left-arrow">
                <img class="circle" src="src/images/main/headline/1/Ellipse.png" alt="Ellipse .png">
                <img class="arrow" src="src/images/main/headline/1/Shape.png" alt="Shape.png">

            </div>
            <div class="main-nav4 flex">
                <img class="pic4-1" src="src/images/main/headline/4/Layer776.png" alt="Layer 776.png">
                <img class="pic4-2" src="src/images/main/headline/4/4.png" alt="4.png">
                <p>רוכשים פוליסה בקליק</p>
            </div>

        </div>
        <div class="main-app">
            <section>
                <div class="main-result">
                    <div class="agent-result">
                        <h3>נמצאו
                            <span class="agent-number">3508</span>
                            סוכני ביטוח
                        </h3>

                    </div>
                    <div class="filter-result">

                        <div class="filter-by">

                            <span>מיין לפי:</span>
                            <ul class="filter-list">
                                <li>
                                    <div class="selected-div">
                                        <img class="arrow1" src="/src/images/main/aside/Shape 9 copy 13.png" alt="">
                                        <select>
                                            <option value="">מחיר נמוך לגבוה</option>
                                        </select>

                                    </div>

                                </li>
                                <img src="/src/images/main/agent/border.png" alt="">
                                <li>
                                    <a href="">דירוג סוכן</a>
                                </li>
                                <img src="/src/images/main/agent/border.png" alt="">
                                <li>
                                    <a href="">מס' מדרגים</a>
                                </li>


                            </ul>
                        </div>
                        <div class="filter-by-area">
                            <img src="/src/images/main/agent/border.png" alt="">
                            <span>  סינון לפי אזור:</span>
                            <div class="selectdiv-filter">
                                <img src="/src/images/main/aside/Shape 9 copy 13.png" alt="">
                                <select>
                                    <option value=""> כל האזורים</option>
                                </select>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="agent-list">
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">

                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>
                            </div>

                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>

                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>

                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>

                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>
                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>

                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>

                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>

                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>
                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>

                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>

                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                    <div class="agent-li agent1">
                        <div class="agent-logo">
                            <img src="src/images/main/agent/agent.png" alt="">
                        </div>
                        <div class="agent-details">
                            <h3>אלמוג יצחקי סוכנות אלמוגים </h3>
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה. </p>
                            <div class="loc-rating">
                                <div>
                                    <img src="src/images/main/agent/loc.png" alt="">
                                    <span class="loc-name">פתח תקווה</span>
                                </div>
                                <div class="star">
                                    <img class="star-pic" src="src/images/main/agent/star.png" alt="">
                                </div>
                            </div>


                        </div>
                        <img class="rectangle" src="src/images/main/agent/Rectangle.png" alt="">
                        <div class="price-details">
                            <div>
                                <h3 class="price-number">483</h3>
                                <p>פרמיה חודשית</p>

                            </div>
                            <div class="btn-buy">
                                <img src="src/images/main/agent/Shopping-Cart.png" alt="Shopping-Cart">
                                <span>לרכישה</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="page-numbers">
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">6</a></li>

                    </ul>

                </div>
            </section>
            <aside class="price-wizard">
                <h3> אשף המחיר</h3>
                <img class="border-headline" src="/src/images/main/aside/borderbot.png" alt="">
                <p class="first-aside-p">לקבלת הצעת מחיר מותאמת אישית אנא הזן את הפרטים הבאים </p>
                <img class="border-headline" src="/src/images/main/aside/pborder.png" alt="border">

                <div class="selectdiv">
                    <img src="/src/images/main/aside/Shape 9 copy 13.png" alt="">
                    <select name="" id="">
                        <option value="">בחר את סוג הביטוח</option>
                    </select>
                </div>
                <div class="selectdiv">
                    <img src="/src/images/main/aside/Layer 1213 copy 7.png" alt="">
                    <select name="" id="">
                        <option value="">תאריך תחילת הביטוח</option>
                    </select>
                </div>
                <div class="selectdiv">
                    <img src="/src/images/main/aside/Layer 1198 copy 2.png" alt="">
                    <select name="" id="">
                        <option value="">בחר את סוג הרכב</option>
                    </select>
                </div>
                <div class="selectdiv">
                    <img src="/src/images/main/aside/Layer 1198 copy 2.png" alt="">
                    <select name="" id="">
                        <option value="">מי ינהג ברכב?</option>
                    </select>
                </div>
                <div class="selectdiv">
                    <img src="/src/images/main/aside/Shape 9 copy 13.png" alt="">

                    <select name="" id="">
                        <option value="">מטרת השימוש ברכב</option>
                    </select>
                </div>
                <div class="selectdiv">
                    <img src="/src/images/main/aside/Shape 9 copy 13.png" alt="">
                    <select name="" id="">
                        <option value="">היכן אתה גר?</option>
                    </select>
                </div>
                <img class="quest-border first-border" src="/src/images/main/aside/pborder.png" alt="border">

                <div class="question-content">
                    <p>
                        האם היה לך ביטוח מקיף או רכב ליסינג ב-3 שנים האחרונות?
                    </p>
                    <input class="radio1" type="radio" name="q1" id="">
                    <input class="radio2" type="radio" name="q1" id="">
                </div>
                <img class="quest-border" src="/src/images/main/aside/pborder.png" alt="border">

                <div class="question-content">
                    <p>
                        האם היו לך תביעות רכוש ו/או גוף ב-3 שנים האחרונות?
                    </p>
                    <input class="radio1" type="radio" name="q2" id="">
                    <input class="radio2" type="radio" name="q2" id="">
                </div>
                <img class="quest-border" src="/src/images/main/aside/pborder.png" alt="border">

                <div class="question-content">
                    <p>
                        האם לבן הזוג יש רכב נוסף?
                    </p>
                    <input class="radio1" type="radio" name="q3" id="">
                    <input class="radio2" type="radio" name="q3" id="">
                </div>
                <img class="quest-border" src="/src/images/main/aside/pborder.png" alt="border">

                <div class="question-content">
                    <p>
                        האם יש לך עבר פלילי?
                    </p>
                    <input class="radio1" type="radio" name="q4" id="">
                    <input class="radio2" type="radio" name="q4" id="">
                </div>
                <img class="quest-border" src="/src/images/main/aside/pborder.png" alt="border">

                <div class="question-content">
                    <p>
                        האם שללו לך את הרישיון בעבר?
                    </p>
                    <input class="radio1" type="radio" name="q5" id="">
                    <input class="radio2" type="radio" name="q5" id="">
                </div>
                <img class="quest-border last-border" src="/src/images/main/aside/pborder.png" alt="border">

                <div class="banner-pic">
                    <img src="src/images/main/aside/BANNER.png" alt="">
                </div>
            </aside>

        </div>
    </div>
</main>
<footer>
    <div class="footer-content page-container">
        <div class="about-compie">
            <div class="footer-logo">
                <span class="logo-text">Compie</span>
            </div>
            <p class="about">
                כחגמדחכגדממגכדל לצשדג דשגלךצדגלצץ .שדגמח
                צשדךגצלגדש.שדגחךחדגשך

            </p>

        </div>

        <ul class="agent">
            <li>סוכנים</li>
            <li>הרשמה למערכת</li>
            <li>צור קשר</li>
            <li>
                <div class="agent-button">כניסת סוכנים</div>
            </li>
        </ul>
        <ul class="importent-details">
            <li>פרטים חשובים</li>
            <li>תנאי שימוש</li>
            <li>מדיניות פרטיות</li>
            <li>צור קשר</li>

        </ul>
        <ul class="follow-us">
            <li>עקבו אחרינו</li>
            <li>פייסבוק <img class="facebook" src="src/images/media/facebook.png" alt=""></li>
            <li>טוויטר<img class="twitter" src="src/images/media/twitter.png" alt=""></li>
            <li>גוגל פלוס<img class="google" src="src/images/media/google.png" alt=""></li>
        </ul>

        <div class="stay-update">
            <h3>השאר מעודכן</h3>
            <p>הירשם לרשימת התפוצה שלנו ואנו נדאג לעדכן אותך בכל המידע החשוב</p>
            <div class="input-mail-content">
                <input class="email" type="email" name="" placeholder="כתובת הדואל שלך">
                <img class="approve" src="src/images/footer/approve.png" alt="">
            </div>
        </div>
    </div>
    <div class="copy-right">
        <small>
            <span>כל הזכויות שמורות</span>
            <span>UI&DESIGN BY:AVIOZ</span>
        </small>
    </div>
</footer>
</body>

</html>
